:root {
  /* primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --hover: #766cea;

  /* neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desatured-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--pale-blue);
  padding: 1rem;
  height: 100vh;
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}

button {
  border: none;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

/* card-container styling starts */

.card-container {
  max-width: 327px;
  border-radius: 1rem;
  background-color: var(--white);

  display: block;
  border-collapse: separate;
  overflow: hidden;
}

/* card-container - card-image starts */
.card-container img {
  background-repeat: no-repeat;
  object-fit: cover;
}

/* card-container - card-content starts */
.card-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.card-container section > * {
  margin-bottom: 1.3rem;
}

.card-content h1 {
  color: var(--dark-blue);
  padding-top: 0.8rem;
  font-weight: 900;
  font-size: 1.3rem;
}

.card-content p {
  color: var(--desatured-blue);
  font-weight: 500;
  text-align: center;
}

#bold {
  font-weight: 900;
  color: var(--dark-blue);
}

.plan-details {
  background-color: var(--very-pale-blue);
  border-radius: 0.6rem;
  padding: 1rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price-container {
  display: flex;
  align-items: center;
}

.plan-price {
  margin-left: 1rem;
}

.plan-details a {
  font-weight: 700;
  margin-left: auto;
  font-size: 0.8rem;
  cursor: pointer;
  cursor: pointer;
  color: var(--bright-blue);
  font-size: rem;
  transition: ease-in 0.2s;
}

.plan-details a:hover {
  text-decoration: none;
  color: var(--hover);
}

.block {
  display: block;
}

.button-payment {
  background-color: var(--bright-blue);
  color: var(--white);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.09);
  border-radius: 0.6rem;
}

.button-payment:hover,
.button-payment:active {
  background-color: var(--hover);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.09);
  border-radius: 0.6rem;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.button-cancel {
  background-color: var(--white);
  color: var(--desatured-blue);
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.button-cancel:hover,
.button-cancel:focus {
  color: black;
  transition: ease-in 0.2s;
  font-weight: 900;
  cursor: pointer;
}

@media only screen and (min-width: 410px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    max-width: 1440px;
  }
  .card-container {
    max-width: 450px;
  }

  .card-content {
    padding-left: 3rem;
  }

  .card-content h1 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }

  .card-content p {
    padding: 0rem 1.2rem 0rem 1.2rem;
  }

  .block {
    width: 100%;
  }

  .plan-details {
    padding: 1rem;
  }

  .plan-details p {
    font-size: 1rem;
  }

  .plan-price {
    margin-left: 0.5rem;
  }

  .plan-details a {
    font-size: 0.9rem;
  }
}
